@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat&family=Indie+Flower&family=Major+Mono+Display&family=Montserrat:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Major Mono Display', monospace;
    background: linear-gradient(#103783, #9bafd9);
}

.container {
    height: 100vh;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    margin: 0 auto;
    border: 2px solid;


}

.container__h1 {
    color: white;
}


.container__p {
    margin-top: 0;
    padding: 1rem;
    text-align: center;
    color: white;
}

.container__bill-label {
    /* margin-right: 13rem; */
    width: 300px;
    font-size: larger;
}

.container__cash-label {
    width: 300px;
    font-size: larger;
}

#bill-amount {
    height: 40px;
    width: 300px;
    padding: 0;
    margin-bottom: 2.5rem;
    font: inherit;
    font-size: large;
}

#cash-received {
    height: 40px;
    width: 300px;
    padding: 0;
    margin-bottom: 2rem;
    font: inherit;
    font-size: large;
}

#btn-calculate {
    font: inherit;
    color: #10357F;
    border: 1px solid #0B265B;
    border-radius: 2em;
    cursor: pointer;
    padding: 1em;
}

#btn-calculate:hover {
    transition: 0.7s;
    background: linear-gradient(90deg, #103783, #6B88C7);
    color: white;
}

.container__table--style {
    table-layout: fixed;
    border: 1px solid #0B265B;
    border-collapse: collapse;
    margin: 1rem;
    background: #E1E7F4;
    box-sizing: content-box;
}

caption {
    padding: 1rem;
    text-align: left;
    font-weight: bold;
}

th,
td {
    padding: .2rem;
    /* width: 80px; -- find out more about this */
    border: 1px solid #0B265B;
    text-align: center;
    /* letter-spacing: 1px; */
}